/* ВСПЛЫВАЮЩЕЕ ОКНО "РЕГИСТРАЦИЯ"  */

/* @import url(../css/fonts.css); */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1924px;
  height: 970px;
  background-color: #3c4852;
} */

#reg_window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 72, 82, 0.93);
  margin-bottom: 10px;
}
#reg_window:target {
  display:  block;
}
/* Форма Входа */
#reg_window .card {
  position: absolute;
  left: 735px;
  top: 188px;
  width: 450px;
  height: 593px;
  background-color: #fff;
  box-shadow: 0px 20px 100px rgba(18, 24, 32, 0.05);
  border-radius: 10px;
}

#reg_window .card_logo {
  text-align: center;
  margin-bottom: 37px;
}

#reg_window .card_cancel-link {
  display: block;
  margin-left: 390px;
  margin-top: 20px;
  margin-bottom: 13px;
  padding: 5px;
}

#reg_window .card_form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reg_window .card_form form .form_login,
#reg_window .card_form form .form_pass,
#reg_window .card_form form .form_email {
  width: 306px;
  height: 54px;
  margin-bottom: 15px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 30px;
  background: url(../img/Frame\ 1.svg) no-repeat scroll 256px 14px;
}
#reg_window .card_form form .form_login {
  background: url(../img/Frame\ 1.svg) no-repeat scroll 256px 14px;
}
#reg_window .card_form form .form_pass {
  background: url(../img/lock\ 1.svg) no-repeat scroll 256px 14px;
}

#reg_window .card_btn {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

#reg_window .card_btn-enter,
#reg_window .card_btn-reg {
  height: 60px;
  padding: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #3c4852;
  line-height: 7px;
  text-transform: uppercase;
}
#reg_window .card_btn-enter {
  width: 128px;
  background: #ffcc80;
  border-radius: 10px;
  border: none;
}
#reg_window .card_btn-enter:active {
  background: #c98723;
}

#reg_window .card_btn-reg {
  width: 164px;
  background-color: #fff;
  border: 1px solid #ffcc80;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 15px;
}
#reg_window .card_btn-reg:active {
  background: #daa85e;
}
#reg_window .card_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#reg_window .card_text p {
  font-family: Panton;
  font-size: 18px;
  line-height: 20px;
  /* margin-left: 5px;
  margin-right: 5px; */
  margin: 0 10px 0 10px;
}
#reg_window .card_text p span {
  text-transform: capitalize;
}

#reg_window .card_social {
  /* display: flex; */
  margin-top: 37px;
  text-align: center;
}
#reg_window .card_social a {
  margin-left: 10px;
}

/* Форма Регистрации */
#reg_window .card_form form .form_email {
  background: url(../img/form_icons/envelope\ 1.svg) no-repeat scroll 256px 14px;
}

#reg_window .frm_btn-reg {
  width: 306px;
  background: #ffcc80;
  border-radius: 10px;
  border: none;
  height: 60px;
  padding: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #3c4852;
  line-height: 7px;
  text-transform: uppercase;
}
#reg_window .frm_btn-reg:active {
  background: #c98723;
}

/* media для Форм Входа и Регистрации*/
@media (max-width: 1366px) {
  body {
    width: 80%;
    max-height: 768px;
  }
  .card {
    /* position: absolute; */
    left: 33%;
    top: 10%;
  }
}
