main {
	margin-bottom: 0;
}

.container {
	margin: 60px auto 0;
	max-width: 1206px;
	/* height:  758px; */
	background: #FFFFFF;
	border: 1px solid #ECECEC;
	border-radius: 10px;
}
/* Заголовок НАСТРОЙКА */
.make_order_header {
	/*display:  flex;
	justify-content: space-between;*/
	padding-top: 18px;
	padding-left: 55px;
	padding-bottom: 18px;
	border-bottom: 1px solid #F3EEEE;
}
.make_order_header h3 {
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	color: #3C4852;
	text-transform: capitalize;
}
/* ==== */
/* ==== */
/* ФОРМА */
.order_form {
	/* background: green; */
	display:  flex;
	justify-content: space-between;
	padding-left: 65px;
	padding-right: 70px;
	padding-top: 43px;
	margin-bottom: 76px;
}
/* ==== */
/* Левая часть формы */
.order_form-left {
	/* background: red; */
	/* padding-left: 65px; */
	/* padding-right: 35px; */
	
}
.order_form-left fieldset {
	/* background: yellow; */
	margin-bottom: 12px;
	border: none;
	
}
/* настройки label */
.order_form-left fieldset label {
	font-size: 16px;
	font-weight: 600;
	
	line-height: 19px;
	color: #3C4852;
	text-transform: capitalize;
}
/* настройки инпутов */
.order_form-left fieldset input {
	width: 488px;
	height: 54px;
	margin-top: 7px;
	padding: 18px 35px;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
}
/* календарь */
.order_form-left fieldset .claendar {
	width: 498px;
	height: 289px;
	background: yellowgreen;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form_order-btn {
	width: 193px;
	height: 58px;
	padding: 18px 16px;
}

.order_form-left button .form_order-btn .order-btn {
	background: #FFCC80;
	border-radius: 10px;
	border: none;
	font-size: 17px;
	font-weight: 700;
	color: #3C4852;
	cursor: pointer;
}

.order_form-left button .form_order-btn span {
	text-transform: capitalize;
	font-size: 17px;
}

.order-btn:active {
	background: #FFCC50;
}


/* ==== */
/* Правая часть формы */
.order_form-right {
	background: blue;
	/* padding-right: 70px; */
}

.order_form-right textarea {
	width: 540px;
	height: 704px;
}

/* Форма. Кнопка размещения заказа */