 /* lk_order_typical_cust.css */
a {
    text-decoration: none;
}
.container {
	margin: 60px auto 90px;
    max-width: 1240px;
    height: 700px;
}

/* Заголовок НАСТРОЙКА */
.main_header {
	padding-top: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid #F3EEEE;
}
.main_header h3 {
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	color: #3C4852;
	text-transform: capitalize;
}
.main_header h3 span {
	text-transform: capitalize;
}

/* ===== */
/* Блок ЗАКАЗЫ */

.main_orders {
	display: flex;
	justify-content: space-between;
	background: #fff;
	margin-bottom: 14px;
	padding: 19px 40px;
	border: 1px solid #F3EEEE;
	box-shadow: 0px 20px 100px rgba(18, 24, 32, 0.05);
	border-radius: 10px;
	color: #3C4852;
}


.main_orders-text {
	max-width: 510px;
}
.main_orders-text h4 {
	font-size: 22px;
	font-weight: 600;
	line-height: 26.4px;
	margin-bottom: 6px;
	color:  #3C4852;
}
.main_orders-text p {
	font-family: Panton;
	font-size: 15px;
	font-weight: 600;
	line-height: 24px;
	color: #8E8D8D;
}

.main_orders-data {
	display:  flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:  center;
}
.main_orders-data p {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}
.main_orders-data p span {
	font-weight: 700;
	color: #66B87A;
}

/* обертка кнопок */
.order_wrap {
	margin-top: 11px;
}

 /* кнопка Закрыть заказ */
button.order_close {
	width: 155px;
	height: 34px;
	margin-right: 10px;
	background: #FF4B55;
	border-radius: 6px;
	border: none;
	font-size: 15px;
	line-height: 24px;
	color: #fff;
	cursor: pointer;
}
button.order_close span {
	text-transform: capitalize;
}
button.order_close:active {
	background: #a12b31;
}


/* кнопка Изменить */
button.order_edit {
	width: 127px;
	height: 34px;
	background: #66B87A;
	border-radius: 6px;
	border: none;
	font-size: 15px;
	line-height: 24px;
	color: #fff;
	cursor: pointer;
}
/*button.order_edit img {
	width: 11px;
	height: 11px
}*/
button.order_edit span {
	text-transform: capitalize;
}
button.order_edit:active {
	background: #3d814e;
}


/* ==== */
/* === Блок ОТКЛИКИ === */
.responses {
	display:  flex;
	justify-content: space-between;
}

/* author_list  */ 
.author_list h4 {
	font-size: 30px;
	line-height: 36px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #3C4852;
}

/* == отклик == */
.author_item, .author_item-cheked {
	width: 468px;
	height: 90px;
	display:  flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 21px;
	border-radius: 10px;
	margin-bottom: 14px;
	font-size: 17px;
	font-weight: 600;
	line-height: 24px;
}
.author_item {
	background-color: #fff;
	border: 1px solid #F3EEEE;
	color: #3C4852;
}
.author_item:hover {
	color: #fff;
	background-color: #3C4852;
	border: 1px solid #3C4852;
}

/* .author_img {
	background-color: blue;
} */
/* .author_name {
	background-color: yellow;
} */
.author_offer {
	display: flex;
	flex-direction:  column;
	align-items: end;
	/*background-color: red;*/
}
.author_offer span {
	font-size: 22px;
	line-height: 25px;
	font-weight: 800;
	color:  #66B87A;
}




/* === Блок ЧАТ === */
.author_resp, .chat {
	width: 700px;
	background: #FFFFFF;
	border: 1px solid #F3EEEE;
	border-radius: 10px;
}

.author_resp {
	height: 141px;
	display:  flex;
	justify-content: space-around;
	align-items: center;
	flex-direction:  column;
	margin-bottom: 14px;
	padding: 24px;
	font-size: 22px;
	line-height: 32px;
	font-weight: 600;
	color: #3C4852;
}

.author_resp p span {
	font-weight: 800;
	color: #EB9F46;
}

.pay_order-btn {
	/*width: 194px;
	height: 47px;*/
	padding: 12px 27px;
}

/* == chat == */

.chat {
	height: 430px;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/* == friend_msg == */
.friend_msg {
	display: flex;
	justify-content: end;
	/*background-color: yellowgreen;*/
	margin-left: 370px;
}
.friend_msg-msg p {
	color: #8E8D8D;
	margin-bottom: 6px;
}
.friend_msg-item {
	display: flex;
	justify-content: space-between;
	align-items:  center;
	width: 187px;
	height: 37px;
	position: relative;
	padding: 0 10px;
	background: #3C4852;
	font-size: 15px;
	color: #fff;
	border-radius: 10px;
}
.friend_msg-item::after {
	content: '';
	position: absolute;
	border:  8px solid transparent;
	border-left: 8px solid #3C4852;
	border-bottom: 8px solid #3C4852;
	top: 56%;
	left: 96%;
}

.friend_msg-item p {
	color: #fff;
}
.friend_msg-clock {
	font-size: 12px;
	color: rgba(250, 250, 250, 0.6) ;
}
.friend_msg-img {
	margin-left: 23px;
	display:  flex;
	flex-direction: column;
    justify-content: end;
    align-items: center;
}

/* == my_msg == */
.my_msg {
	margin-right: 290px;
	display: flex;
	justify-content: start;
	/*background-color: green;*/
}
.my_msg-img {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	margin-right: 15px;

}
/*.my_msg-msg {
	
}*/
.my_msg-msg p {
	padding-left: 20px;
	color: #8E8D8D;
	margin-bottom: 5px;
}
.my_msg-item {
	height: 119px;
	width: 326px;
	margin-left: 5px;
	position: relative;
    padding: 10px 20px 0 0;
    display:  flex;
    background: #F8F8F8;
	border-radius:  5px;
    
}
.my_msg-item::before{
	content: '';
	position: absolute;
	border:  5px solid transparent;
	border-right: 5px solid #F8F8F8;
	/*border-right: 10px solid red;*/
	border-bottom: 5px solid #F8F8F8;
	/*border-bottom: 10px solid red;*/
	left: -9px;
	top: 92%;
	
}
.my_msg-item p {
	color: #3C4852;
}
.my_msg-clock {
	padding-top: 80px;
	font-size: 14px;
	color: #3C4852;
}


/* == chat_input == */
.chat_input {
	height: 80px;
	width: 645px;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid rgba(60, 72, 82, 0.15);
	border-radius: 14px;
}
.chat-btn {
	/*background: #FFCC80;*/
	background: url(../img/lk_order_typical_cust/paper-plane_1.svg) no-repeat 115px 14px #FFCC80;
	border:  none;
	width: 149px;
	height: 44px;
	border-radius: 10px;
	padding-right: 20px;
	font-size: 16px;
	font-weight: 700;
}