/*lk_orders.css*/
@import url(../css/fonts.css);

a {
	text-decoration: none;
}

.container {
	margin: 60px auto 90px;
	max-width: 1240px;
	height:  700px;
	/*background: yellowgreen;*/
}

/* Заголовок НАСТРОЙКА */
.orders_header {
	/*display:  flex;
	justify-content: space-between;*/
	padding-top: 18px;
	padding-left: 55px;
	padding-bottom: 18px;
	border-bottom: 1px solid #F3EEEE;
}
.orders_header h3 {
	font-size: 26px;
	font-weight: 700;
	line-height: 31px;
	color: #3C4852;
	text-transform: capitalize;
}



.main_header {
	display:  flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.main_header h3 {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #3C4852;
	text-transform: capitalize;
}


/* ===== */
/* ЗАКАЗЫ */

.main_orders {
	display: flex;
	justify-content: space-between;
	background: #fff;
	margin-bottom: 14px;
	padding: 19px 40px;
	border: 1px solid #F3EEEE;
	box-shadow: 0px 20px 100px rgba(18, 24, 32, 0.05);
	border-radius: 10px;
	color: #3C4852;
}


.main_orders-text {
	max-width: 510px;
	/*padding: 18px 0 18px 45px;*/

}
.main_orders-text h4 {
	font-size: 22px;
	font-weight: 800;
	line-height: 26.4px;
	margin-bottom: 6px;
}
.main_orders-text p {
	font-family: Panton;
	font-size: 15px;
	font-weight: 600;
	line-height: 24px;
	color: #8E8D8D;
}



.main_orders-data-status-text {
	color: #66B87A;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 6px;
}

.main_orders-data {
	display:  flex;
	flex-direction: column;
	justify-content: space-between;
}
.main_orders-data-price p {
	color: #3C4852;
}
.main_orders-data-price p, .main_orders-customer p  {
	font-size: 18px;

}

.main_orders-data-price p span {
	color: #66B87A;
	font-weight: 700;
}






.main_orders-customer, .main_orders-customer p span {
	color: #8E8D8D;
}

/* СТАТУСЫ ЗАКАЗОВ */
/* Карточка со статусом Заказ в работе */
.order_in_progress {
	color: #E1B26C;
}
.main_orders-data-price p.order_in_progress {
	color: #66B87A;
}

/* Карточка со статусом Заказ отменен */
.order_cancelled {
	color: #EC5760;
}
.main_orders-data-price p.order_cancelled {
	color: #EC5760;
}

/* Карточка со статусом Заказ выполнен */
.order_done {
	color: #66B87A;
}


/* Данные пользователя */
.orders_sub_header {
	display:  flex;
}